/* header  */
.header-inner {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
}

.site-title {
    width: 20%;
    padding: 0 1rem;
    color: rgb(32, 201, 151);
    cursor: pointer;
}

.toDoList-menu {
    display: flex;
    padding: 0 1rem;
    width: 70%;
    color: rgba(150, 241, 214, 1);
}

.toDoList-menu-list {
    flex: 1;
    transition: all 0.3s;
}

.toDoList-menu-list-content:hover {
    color:rgb(32, 201, 151);
    cursor: pointer;
}
.timeMenuBar {
    padding: 0 1rem;
    cursor: pointer;
}
.timeMenuBar-menuBar {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: #cdcdcd;
    border-radius: 3px;
    transition: all 0.5s;
    
}

.timeMenuBarClick .timeMenuBar-menuBar:first-child {
    transform: translateY(9px) rotate(45deg)
}

.timeMenuBarClick .timeMenuBar-menuBar:nth-of-type(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.timeMenuBarClick .timeMenuBar-menuBar:nth-of-type(3) {
    transform:  translateY(-9px) rotate(-45deg)
}
