@import "header.css";
@import "section.css";
@import "form.css";

html {
	font-size: 16px;
	color: #222;
}

body {
	/* overflow-x: hidden; */
	font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
}

h1, h2, h3 {
	letter-spacing: -0.01em;
}

button {
	font-size: 1rem;
	border: 0;
	cursor: pointer;
}

